@font-face {
  font-family: Optima-Extra-Black;
  src: url("./fonts/Optima-ExtraBlack.otf");
}

* {
  font-family: Optima-Extra-Black, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#root, #app-container, #home-page {
  height: 100%;
  width: 100%;
}

#home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #89CFF0;
  width: 100%;
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

#profile-images {
  display: flex;
  width: 100%;
  height: 15%;
}

#header img {
  max-height: 50%;
  max-width: 50%;
}


#home-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ff4040;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 15px;
}

#home-button-container button {
  width: 100px;
}


.profile {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-image-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#main-game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  height: 10%;
  width: calc(100vw - 50px);
  background-color: #ff4040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

#header h1 {
  margin: 0;
}

#game-body {
  height: 90%;
  width: 100%;  
  overflow: scroll;
  position: relative;

}

#timer, #counter-left, #header-profile-images {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#waldo-game-img {
  width: 100%;
  height: 100%;
}

#waldo-game-img:hover {
  cursor: pointer;
}

#character-menu {
  position: absolute;
  background-color: gray;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

#Odlaw-button {
  position: absolute;
  width: 1.5%;
  height: 5%;
  top: 55%;
  left: 18%;
  border-radius: 100%;

  background-color: cyan;
}

#Waldo-button {
  position: absolute;
  width: 2%;
  height: 7%;
  top: 25%;
  left: 41.75%;
  border-radius: 100%;

  background-color: violet;
}

#Wenda-button {
  position: absolute;
  width: 0.59%;
  height: 5%;
  top: 22%;
  left: 16.25%;
  border-radius: 100%;

  background-color: red;
}

#Wizard-button {
  position: absolute;
  width: 4%;
  height: 12%;
  top: 85%;
  left: 81%;
  border-radius: 100%;

  background-color: greenyellow;
}

#Woof-button {
  position: absolute;
  width: 3%;
  height: 2%;
  top: 58%;
  left: 57%;
  border-radius: 100%;

  background-color: orange;
}

.character-button:hover {
  cursor: pointer;
}

.character-button {
  opacity: 0;
  border: none;
}

#main-game:hover {
  cursor: pointer;
}

.fade-in-text {
  text-align: center;
  animation: fadeIn 5s;
  color: white;
  background-color: #ff4040;
}

#scoreboard-menu-container, #scoreboard-container {
  background-color: #ff4040;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#scoreboard-container {
  overflow: scroll;
}

#scoreboard-menu, #scoreboard-panel {
  background-color: white;
  height: 50%;
  width: 50%;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#scoreboard-panel {
  height: 100%;
  border-radius: 0px;
  padding: 15px;
  justify-content: flex-start;
}

#scoreboard-buttons-container {
  display: flex;
  gap: 15px;
}
